<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="foehnix.widget"
    android:versionCode="23"
    android:versionName="2.2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/glider2"
        android:label="@string/app_name" >
        <receiver android:name="MyWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ContactWidgetUpdate" />
                <action android:name="Muell" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!--  <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
            <intent-filter>
                                <action android:name="android.intent.action.BOOT_COMPLETED" />
                                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name="BootReceiver">
	        <intent-filter>
	            <action android:name="android.intent.action.BOOT_COMPLETED"/>
	        </intent-filter>
        </receiver>
        <activity android:name="MyMainActivity"
              android:theme="@style/Theme.AppCompat"
              android:label="@string/app_name">
  <!--       	<intent-filter>
            	<action android:name="android.intent.action.MAIN" />
            	<category android:name="android.intent.category.LAUNCHER" />
        	</intent-filter>
 -->
    	</activity>
        
    </application>
    
</manifest>
